// ============== color
$primary5: #E0F6FC;
$primary10: #B2E8F7;
$primary20: #80D9F0;
$primary30: #4EC9E8;
$primary40: #2BBEE0;
$primary50: #18B4D9;
$primary60: #12A4C5;
$primary70: #0790AB;
$primary80: #007C92;
$primary90: #005A66;

$secondary5: #DBF2FF;
$secondary10: #BADEF9;
$secondary20: #9FC4E5;
$secondary30: #80ABCF;
$secondary40: #6897BE;
$secondary50: #4F85AD;
$secondary60: #40769B;
$secondary70: #306283;
$secondary80: #224E6D;
$secondary90: #0B3954;

$success5: #E4F6EE;
$success10: #C0E8D4;
$success20: #9ADABB;
$success30: #6DCAA0;
$success40: #4ABF8C;
$success50: #12B579;
$success60: #09A56C;
$success70: #009460;
$success80: #008053;
$success90: #00613D;

$warning5: #FCF7E3;
$warning10: #F9E9B8;
$warning20: #F5DA8B;
$warning40: #EFC246;
$warning60: #ECAB2F;
$warning70: #EB9A2B;
$warning80: #E98B26;

$danger5: #FBE8E9;
$danger10: #F5C7C7;
$danger20: #DD9188;
$danger30: #CB665D;
$danger40: #CD4B37;
$danger50: #CB3A15;
$danger60: #C03016;

$gray5: #fff;
$gray10: #FAFAFA;
$gray20: #F5F5F5;
$gray30: #F0F0F0;
$gray40: #DEDEDE;
$gray50: #C2C2C2;
$gray60: #969696;
$gray70: #828282;
$gray80: #616161;
$gray90: #3D3D3D;

$wh: #fff;
$bk: #333;

// ============== typography
$h3: 3rem;
$h5: 1.5rem;
$h6: 1.25rem;
$subtitle01: 1rem;
$subtitle02: .875rem;
$body01: 1rem;
$body02: .875rem;
$caption: .75rem;

// ============== spacing
$space-4:.25rem;
$space-6:.375rem;
$space-8:.5rem;
$space-10:.625rem;
$space-12:.75rem;
$space-16:1rem;
$space-24:1.5rem;
$space-40:2.5rem;

// ============== border
$border:1px solid $gray40;
$border-radius: 3px;

// ============== list
$list-padding-lg: 16px 24px;
$list-padding-md: 12px 24px;
$list-padding-sm: 8px 24px;
$list-padding-mobile: 8px 12px;

$list-hover-gy: $gray30;
$list-hover-bl: $secondary5;
$list-focurs-gy: $gray30;
$list-focurs-bl: $secondary5;

$header-height: 60px;
$menu-width: 280px;